.bookingPanel {
  background-color: white;
  border-top: 1px solid rgb(242, 242, 242);
}

.greenPill {
  width: 44px;
  height: 5px;
  border-radius: 3.5px;
  /* margin-top: 4.5px; */
  margin-right: 7.49px;
  margin-bottom: 4px;
  margin-left: 10.8px;
  gap: 2.79px;
  background-color: #00a500;
}
.timeContainer {
  padding: 30px;
}

.timePeriod {
  display: flex;
  border-bottom: 1px solid rgb(226, 226, 226);
  align-items: center;
  flex: 1;
  padding: 20px;
  gap: 20px;
}

.timePeriodText {
  flex: 1;
}

.timePeriodTime {
  flex: 7;
  display: flex;
  gap: 20px;
}
.timePill{
    color: #2AA7FF;
    border: 1px solid #2AA7FF;
    padding: 5px;
    border-radius: 5px;
}
