.card {
  border-radius: 15px;
  padding: 30px;
  background-color: white;
}
.cardDisplay {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.detail {
  display: flex;
  flex: 2;
  flex-direction: column;
  align-items: baseline;
  gap: 10px;
}

.booking {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.name {
  font-family: Poppins;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #14bef0;
}

.address {
  font-family: Poppins;
  font-weight: 700;
  font-size: 14px;
  line-height: 19.6px;
  letter-spacing: 0%;
  vertical-align: middle;
}

.type {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.6px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #414146;
  margin-top: -10px;
}

.icon {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
}

.like {
  border-top: 1px solid #e8e8f0;
}

.bookingBtn {
  background-color: #2aa7ff;
  border: 1px solid #14bef0;
  border-radius: 4px;
  padding: 15px;
  color: white;
}

.bookingTime {
  color: #2aa7ff;
  border: 1px solid #2aa7ff;
  border-radius: 3px;
  padding: 5px;
}

.bookingDate {
  color: #00a500;
  border: 1px solid #00a500;
  padding: 5px;
  border-radius: 3px;
}

.bookingDetail{
  display: flex;
  gap: 5px;
  align-items: baseline;
}