.hero {
  margin-top: 80px;
  padding-left: 120px;
  padding-right: 120px;
  padding-bottom: 200px;
  color: black;
  display: flex;
  justify-content: space-between;
}

.doctor {
  height: 70vh;
  object-fit: contain;
}

.text {
  font-family: Poppins;
  font-weight: 500;
  font-size: 31px;
  line-height: 68px;
  letter-spacing: 2%;
}

.text1 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 56px;
  line-height: 68px;
  letter-spacing: 2%;
  color: black;
}

.text2 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 56px;
  line-height: 68px;
  letter-spacing: 2%;
  color: #2aa7ff;
}

.text3 {
  margin-top: 20px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2%;
  color: #5c6169;
}

.findBtn {
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 2%;
  border-radius: 8px;
  background-color: #2aa8ff;
  color: white;
  padding: 15px;
  border: none;
  margin-top: 20px;
}

.heroSecond {
  border-radius: 15px;
  position: relative;
  top: -40px;
  padding: 20px;
  background-color: aliceblue;
}
